.notificationBlock {
  margin: 5px;
  padding: 10px;
}

.notificationBlock.isNew {
  border: 1px solid rgb(211, 0, 0);
  background-color: rgb(245, 133, 133);
}

.notificationBlock.isNotNew {
  border: 1px solid black;
  background-color: rgb(172, 166, 166);
}

.newActionText {
  color: red;
}

.item {
  color: white;
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 40px;
}