.message {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
  position: relative;
  width: auto;
  padding: 2px;
}

.message-date {
  position: absolute;
  right: 0;
  * {
    margin: 0;
  }
}

.message-author {
  text-decoration: none;
  display: inline;
}

.message-author-name {
  display: inline;
  text-decoration: underline;
  color: green;
  font-weight: bold;
}

.message-context {
  display: inline;
  margin: 0;
}
