.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-main {
  width: 200px;
  padding: 20px 40px;
  background-color: #fff;
  position: relative;
}

.MuiIconButton-root.modal-main-close {
  position: absolute;
  top: 2px;
  right: 2px;
  &:hover {
    color: red;
  }
}

.form-main {
  display: flex;
  flex-direction: column;
}

.modal-main-title {
  text-align: center;
  margin-top: 16px;
}

.MuiButton-root.form-main-submit {
  margin-top: 25px;
}

.MuiButton-root.form-main-cancel {
  margin-top: 10px;
}
