@import '../../../../styles/variables.scss';

.new-message-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.new-message-body {
  background-color: $add-message-bg;
  font-size: 40px;
  width: 100%;
  .MuiFilledInput-input {
    padding: 15px;
  }
}

.new-message-send-button {
  cursor: pointer;
}
