.new-chat {
  position: relative;
  padding: 35px 10px 12px;
  .submit {
    width: 100%;
  }
  .cancel {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    background-color: inherit;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    &:hover {
      color: #d63434;
      transition: 200ms;
    }
  }
}

.search-field {
  background-color: #fff;
  border-radius: 3px;
  padding: 3px;
}
