.chat-inputs {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
}

.chat-inputs-name,
.chat-inputs-description {
  width: calc(100% - 12px);
  padding: 4px 6px;
  border-radius: 3px;
  border: 1px solid #eee;
}

.chat-inputs-description {
  margin-top: 5px;
  resize: none;
  overflow: auto;
  outline: none;
}
