.dialog-item {
  text-decoration: none;
}

.dialog-card-content {
  position: relative;
}

.dialog-card {
  margin: 5px 0;
  cursor: pointer;
}

.dialog-item-info {
  color: #230127;
  padding-top: 7px;
}

.dialog-item-name {
  font-size: 20px;
}

.dialog-item-description {
  margin-top: 7px;
  font-size: 17px;
}

.dialog-owner {
  position: absolute;
  color: #2e2c2c;
  font-size: 16px;
  top: 3px;
  right: 3px;
  &.owner-me {
    text-decoration: underline;
    font-size: 15px;
  }
}
