.sign-up {
  &.go-back {
    position: relative;
    top: 30px;
    left: 9%;
  }
}

.form-sign-up-header {
  text-align: center;
  font-size: 24px;
}

.form-sign-up {
  margin: 20px 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.MuiButton-contained {
  &.form-sign-up-submit {
    margin-top: 20px;
  }
}

.sign-up-error-message {
  color: red;
  font-size: 18px;
  margin: 3px 0;
}
