/* .content {
    grid-area: c;
    background-color: coral;
  }
   */
  .item {
    color: white;
    border: 1px blue solid;
    margin: 4px;
  }
  
  .item img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }

  .isLiked {
    color: red;
  }

  .isNotLiked {
    color: black;
  }