.member-item {
  margin: 3px;
  position: relative;
}

.member-item-card {
  padding-right: 30px;
  position: relative;
}

.member-name {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 3px;
  color: #3b0346;
}

.member-city {
  font-size: 16px;
}

.member-choose {
  display: none;
  &:checked + label:before {
    background-color: rgb(145, 60, 179);
    border-color: rgb(145, 60, 179);
    color: #fff;
  }
}

.member-choose-label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  &:before {
    content: "\2714";
    border: 0.1em solid #eee;
    border-radius: 0.2em;
    display: inline-block;
    width: 1em;
    height: 1em;
    font-family: initial;
    padding-left: 0.2em;
    padding-bottom: 0.3em;
    margin-right: 0.2em;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
  }
  &:active:before {
    transform: scale(0);
  }
}
