@import '../../../../styles/variables.scss';

.message-list {
  display: flex;
  flex-direction: column;
  max-height: $main-content-min-height - 130px;
  min-height: $main-content-min-height - 130px;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 10px;
  }  
  &::-webkit-scrollbar-track {
    background: inherit;
  }   
  &::-webkit-scrollbar-thumb {
    background: #45494e; 
    &:hover {
      background: #555; 
    }
  }  
}

.scroll-bottom {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 5;
}

.scroll-bottom-button {
  position: fixed;
  background-color: #02152c;
  border-radius: 30px;
  font-size: 30px;
  color:#fff;
}
