.form-sign-in-header {
  text-align: center;
  font-size: 24px;
}

.sign-in-form {
  margin: 35px 7%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-sign-in-submit {
  &.MuiButton-contained {
    margin-top: 15px;
  }
}

.sign-up-link {
  margin-top: 15px;
}

.sign-up-link-text {
  text-decoration: none;
}

.sign-in-error-message {
  color: red;
  font-size: 18px;
  margin: 3px 0;
}
