@import '../../styles/variables.scss';

.header {
  background-color: $main-header-bg;
  height: 80px;
  margin-bottom: 6px;
  color: #fff;
}

.logo {
  height: 100%;
}

.login-block {
  float: right;
}

.login-block a {
  color: white;
}

.notification a {
  color: $bell-color;
}

.notification {
  float: left;
  margin-right: 40px;
  margin-top: 10px;
}