@import '../../styles/variables.scss';

.header {
  background-color: $main-header-bg;
  height: $main-header-height;
  margin-bottom: $main-header-margin-btm;
  color: #fff;
}

.header-user-name {
  margin-top: 5px;
  margin-right: 5px;
}

.logo {
  height: 100%;
}

.login-block {
  float: right;
}

.login-block a {
  color: white;
}

.notification a {
  color: $bell-color;
}

.notification {
  float: left;
  margin-right: 40px;
  margin-top: 10px;
}