.header {
  grid-area: h;
  background-color: aqua;
}

.header img {
  width: 20px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}

.notification a {
  color: black;
}

.notification {
  float: left;
  margin-right: 40px;
  margin-top: 10px;
}