.profile-info {
  padding: 10px;
}

.profile-info-media {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}

.profile-info-media-photo {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info-media-icon {
  background-color: #eee;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  .media-icon-img {
    &:hover {
      cursor: pointer;
    }
  }
}

.profile-info-media-icons {
  position: absolute;
  font-size: 0;
  bottom: 0;
  right: 0;
}

.profile-info-content {
  text-align: center;
}

.profile-info-content-name {
  margin: 5px 0 10px;
  font-size: 22px;
}

.profile-info-content-data {
  padding: 6px 18px;
}

.content-blur {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee40;
  filter: blur(1.5rem);
}
