.loginOrRegistration {
  width: 200px;
  text-align: center;
  background-color: ivory;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.loginOrRegistration a {
  display: block;
  color: black;
  margin: 5px;
  background-color: yellowgreen;
}