//HEADER - color
$main-header-bg: #9952c9;
$bell-color: #fff;
//HEADER - size
$main-header-height: 80px;
$main-header-margin-btm: 6px;

//NAVIGATION - color
$nav-bg: #200631;
$nav-link-color: #ffffff;
$nav-link-active-color: #8a32c5;
$nav-link-hover-color: #b77cdf;
//NAVIGATION - size
$nav-link-size: 16px;

//APP MAIN CONTENT - color
$main-content-bg: #b084ce;
//APP MAIN CONTENT - size
$main-content-min-height: calc(100vh - 80px - 6px);

//MESSAGES - color
$message-header-bg: #f0f0f0;
$add-message-bg: #fff;
$mess-date-color: #797979;
//MESSAGES - size
$mess-list-height: calc(100vh - 216px);

//MODAL - color
$mess-modal-bg: #ffffff;
$mess-modal-head-bg: #d6d6d6;
$modal-add-memb-hover: #d6d6d6;

//SCROLL - color
$scroll-color: #110124;
$scroll-hover-color: #b791e2;

//OTHERS - color
$close-button-color: red;
